<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
         <%= image_tag(asset_path('PROYECTO1.png'), class: 'card-img-top w-100', alt: 'Descripción de la imagen') %>
        <div class="card-body">
          <h5 class="card-title">Título del card 1</h5>
          <p class="card-text">Contenido del card 1.</p>
          <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
         <%= image_tag(asset_path('PROYECTO2.png'), class: 'card-img-top w-100', alt: 'Descripción de la imagen') %>
        <div class="card-body">
          <h5 class="card-title">Título del card 2</h5>
          <p class="card-text">Contenido del card 2.</p>
          <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
         <%= image_tag(asset_path('PROYECTO3.png'), class: 'card-img-top w-100 ', alt: 'Descripción de la imagen') %>
        <div class="card-body">
          <h5 class="card-title">hash productos</h5>
          <p class="card-text">practica sobre el ciclo each</p>
          <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
